.arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.right {
  right: 0;
}

.left {
  left: 0;
}

.carousel-container {
    margin: auto;
}

.react-multi-carousel-item {
    display: flex;
    align-items: center;
    justify-content: center;
}
